<h3>새로운 공지사항 작성</h3>

<form action="/notices/create" class="form-group" method="post" enctype="multipart/form-data">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="div-margin-top">
    <label for="title">제목</label>
    <input class="form-control" id="title" name="title">
  </div>

  <div class="div-margin-top">
    <label for="content">내용</label>
    <%= tinymce %>
    <textarea class="form-control tinymce" id="content" name="content", rows="20"></textarea>
  </div>

  <div class="div-margin-top">
    <label for="attachment">첨부파일</label>
    <input class="form-control-file" type="file" id="attachment" name="attachment" placeholder="(선택)첨부파일">
  </div>

  <div class="div-margin-top">
    <button class="btn btn-warning btn-sm" type="submit">저장</button>
    <a href="/notices/index"><button type="button" class="btn btn-light btn-sm">목록</button></a>
  </div>
</form>
