<style>
  .home-index-carousel-inner {
    text-align: center;
  }

  .home-index-carousel {
    width: 95%;
    height: 650px;
  }

  .home-index-content {
    margin-left: 30px;
  }
</style>

<!-- 이미지 슬라이드 -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner home-index-carousel-inner">
    <div class="carousel-item active">
      <img class="home-index-carousel rounded" src="<%= asset_path 'likelion.jpg' %>" alt="First slide">
      <!-- <img class="home-index-carousel rounded" src="/assets/smmentoring.png" alt="First slide"> -->
    </div>
    <div class="carousel-item">
      <img class="home-index-carousel rounded" src="<%= asset_path 'likelion1.jpg' %>" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="home-index-carousel rounded" src="<%= asset_path 'logo.png' %>" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- ./ 이미지 슬라이드 -->

<hr/>

<div class="home-index-content">
  <div class="text-center">
    <h4>this web service is made by Ruby on Rails</h4>
    <h4>contact developer : mingood92@gmail.com</h4>
    <h3>&copy; 2018 MinGOOD in LikeLion. All Rights Reserved.</h3>
  </div>
<!--  <h3>Software Mentoring ?</h3>-->
<!--  <p>성공회대 IT 학부 내 선후배간 지식 공유가 이루어지는 것을 뜻합니다.</p>-->
<!--  <p>IT 학부 소속은 다음과 같습니다.</p>-->
<!--  <ul>-->
<!--    <li>IT 학부</li>-->
<!--    <li>소프트웨어공학과</li>-->
<!--    <li>컴퓨터공학과</li>-->
<!--    <li>정보통신공학과</li>-->
<!--    <li>글로컬IT학과</li>-->
<!--  </ul>-->
</div>
