<h1>home#index</h1>

<p><a href="/users/sign_up">회원가입</a></p>
<p><a href="/users/sign_in">로그인</a></p>
<p><a href="/users/sign_out">로그아웃</a></p>
<p><a href="/users/edit">회원 정보 수정</a></p>
<p><a href="/notices/index">공지게시판</a></p>
<p><a href="/students/applyMentorGet">멘토 신청</a></p>
<p><a href="/students/applyMentorEdit">멘토 신청 수정</a></p>
<p><a href="/students/findAllRooms">멘토방 목록</a></p>
<p><a href="/admin/findAllUsers">모든 사용자 목록</a></p>
<p><a href="/admin/mentorApplyUsers">멘토 신청자 목록</a></p>
<p><a href=""></a></p>